.setupblocks {
	column-width: 400px;
	-moz-column-width: 400px;
	-webkit-column-width: 400px;
	max-width: 1200px;
	margin: auto;
}
.setupblocks > .setupblock:first-of-type { margin-top: 0; }

.setupblock {
	break-inside: avoid;
	-moz-break-inside: avoid;
	-webkit-break-inside: avoid;
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
	text-align: center;
	width: 90%;
}
.setupblock TEXTAREA {
	width: 100%;
	font-size: 0.75em;
	resize: vertical;
}

.helpable {
	border-bottom: 1px dashed gray;
}

.ok {
	background: #AFA;
}
.bad {
	background: #FAA;
}

#Setupmain .blockbody {
	background: none;
	border: none;
	box-shadow: none;
	margin: 0px;
	padding: 0px;
}
