
.image_info TD {
	text-align: left;
}
.image_info TD:first-child {
	text-align: right;
	padding-right: 4px;
}

.js .image_info .edit {
	display: none;
}
.js .image_info .view {
	display: block;
}

.no-js .image_info .edit {
	display: block;
}
.no-js .image_info .view {
	display: none;
}

