#handle_mp3_media AUDIO {
	min-width: 300px;
	width: 65%;
}
/* Hide download button as we use our own */
#handle_mp3_media audio::-internal-media-controls-download-button {
    display:none;
}
#handle_mp3_media audio::-webkit-media-controls-enclosure {
    overflow:hidden;
}
#handle_mp3_media audio::-webkit-media-controls-panel {
    width: calc(100% + 30px); /* Adjust as needed */
}
