/* Begin CSS Drop Down Menu */

a:link.menu { color:#FF0000; text-decoration: none; }

a:visited.menu { color: #FF0000; text-decoration: none; }

a:hover.menu { color: #FF0000; text-decoration: none; }

a:active.menu { color: #FF0000; text-decoration: none; }

#menuh-container
	{
	font-size: 1em;
	float: left;
	top:0;
	left: 5%;
	width: 100%;
	margin: 0;
	}

#menuh
	{
	font-size: small;
	font-family: arial, helvetica, sans-serif;
	width:100%;
	margin-top: 0;
	}

#menuh a.sub_option
	{
	border: 1px solid #555;
	/*background-image:url(topban.jpg);*/
	}

#menuh a
	{
	text-align: center;
	background: #ACE4A3;
	display:block;
	white-space:nowrap;
    margin: 0;
    padding: 0.2em;
	}

#menuh a, #menuh a:visited	/* menu at rest */
	{
	color: #000099;
	text-decoration:none;
	}

#menuh a:hover	/* menu at mouse-over  */
	{
	color: #000000;
	}

#menuh a.top_parent, #menuh a.top_parent:hover  /* attaches down-arrow to all top-parents */
	{
	/*background-image: url(navdown_white.gif);*/
	background-position: right center;
	background-repeat: no-repeat;
	}

#menuh a.parent, #menuh a.parent:hover 	/* attaches side-arrow to all parents */
	{
	/*background-image: url(nav_white.gif);*/
	background-position: right center;
	border: 1px solid #555;
	background-repeat: no-repeat;
	}

#menuh ul
	{
	list-style:none;
	margin:0;
	padding:0;
	float:left;
	width:10em;	/* width of all menu boxes */
	}

#menuh li
	{
	position:relative;
    min-height: 1px; 	/* Sophie Dennis contribution for IE7 */
    vertical-align: bottom; /* Sophie Dennis contribution for IE7 */
	}

#menuh ul ul
	{
	position:absolute;
	z-index:500;
	top:auto;
	display:none;
	padding: 1em;
	margin:-1em 0 0 -1em;
	}

#menuh ul ul ul
	{
	top:0;
	left:100%;
	}

div#menuh li:hover
	{
	cursor:pointer;
	z-index:100;
	}

div#menuh li:hover ul ul,
div#menuh li li:hover ul ul,
div#menuh li li li:hover ul ul,
div#menuh li li li li:hover ul ul
{display:none;}

div#menuh li:hover ul,
div#menuh li li:hover ul,
div#menuh li li li:hover ul,
div#menuh li li li li:hover ul
{display:block;}

/* End CSS Drop Down Menu */
