<IfModule mod_dir.c>
	DirectoryIndex index.php5 index.php
</IfModule>

<FilesMatch "\.(sqlite|sdb|s3db|db)$">
	Deny from all
</FilesMatch>

<IfModule mod_rewrite.c>
	RewriteEngine  on

	# rather than link to images/ha/hash and have an ugly filename,
	# we link to images/hash/tags.ext; mod_rewrite splits things so
	# that shimmie sees hash and the user sees tags.ext
	RewriteRule ^_images/([0-9a-f]{2})([0-9a-f]{30}).*$  images/$1/$1$2 [L]
	RewriteRule ^_thumbs/([0-9a-f]{2})([0-9a-f]{30}).*$  thumbs/$1/$1$2 [L]

	# any requests for files which don't physically exist should be handled by index.php
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php?q=$1&%{QUERY_STRING} [L]
</IfModule>

<IfModule mod_php5.c>
	php_flag register_globals 0 
	php_flag magic_quotes_gpc 0 
	php_flag magic_quotes_runtime 0
</IfModule>

DefaultType image/jpeg

<IfModule mod_expires.c>
	ExpiresActive On
	<FilesMatch "([0-9a-f]{32}|\.(gif|jpe?g|png|css|js))$">
		<IfModule mod_headers.c>
			Header set Cache-Control "public, max-age=2629743"
		</IfModule>
		ExpiresDefault "access plus 1 month"
	</FilesMatch>
	#ExpiresByType text/html "now"
	#ExpiresByType text/plain "now"
</IfModule>

<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
	AddOutputFilterByType DEFLATE application/x-javascript application/javascript
</ifmodule>
