.autocomplete_completions {
    position: absolute;
    z-index: 1000;
    border: 1px solid #ccc;
    color: #000;
    background-color: #fff;
    padding: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
}
.autocomplete_completions LI {
    padding: 0.15em;
    overflow-wrap: anywhere;
}
.autocomplete_completions .selected {
    background-color: #ccc;
    outline: none;
}
input[name=search] ~ input[type=submit] { display: inline-block !important; }

.tag-negative { background: #ff8080 !important; }
.tag-positive { background: #40bf40 !important; }
.tag-metatag  { background: #eaa338 !important; }
