parameters:
  level: 2
  paths:
    - ../core
    - ../ext
    - ../tests
    - ../themes/default
  ignoreErrors:
    - '#Attribute class GQLA\\Expose#'
    - '#Access to an undefined property Shimmie2\\Image::\$#'
