parameters:
  level: 8
  paths:
    - ../core
    - ../ext
    - ../tests
    - ../themes
  dynamicConstantNames:
    - DEBUG
    - TRUSTED_PROXIES
    - TIMEZONE
    - BASE_HREF
    - STATSD_HOST
    - TRACE_FILE
    - UNITTEST
  ignoreErrors:
    -
      message: '#Function .* is unsafe to use.*$#'
includes:
  - ../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
