parameters:
  level: 8
  paths:
    - ../core
    - ../ext
    - ../tests
    - ../themes
  dynamicConstantNames:
    - DEBUG
    - TRUSTED_PROXIES
    - TIMEZONE
    - BASE_HREF
    - STATSD_HOST
    - TRACE_FILE
    - UNITTEST
#includes:
#  - ../vendor/thecodingmachine/phpstan-safe-rule/phpstan-safe-rule.neon
