<phpunit bootstrap="../tests/bootstrap.php" colors="true">
	<testsuites>
		<testsuite name="shimmie">
			<directory suffix="test.php">../ext/</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory suffix=".php">core</directory>
			<directory suffix=".php">ext</directory>
			<directory suffix=".php">themes/default</directory>
		</whitelist>
	</filter>
</phpunit>
