<?xml version="1.0"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  bootstrap="../tests/bootstrap.php"
  colors="true"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
  cacheResultFile="../data/phpunit.cache"
>
  <coverage/>
  <testsuites>
    <testsuite name="core">
      <directory suffix="Test.php">../core/</directory>
    </testsuite>
    <testsuite name="ext">
      <directory suffix="test.php">../ext/</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../core</directory>
      <directory suffix=".php">../ext</directory>
      <directory suffix=".php">../themes/default</directory>
    </include>
  </source>
</phpunit>
