/**
 * Some style elements borrowed from the QWebIRC project
 * http://qwebirc.org/
 */

:root {
	font-family: sans-serif;
	font-size: 14px;
}
BODY {
	background: #F0F7FF;
	margin: 0;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
3                            menu bar                            *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.menu {
	border-bottom: 1px solid #C3D2E0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 4px;
	background: #E3EFFA;
}
a.tab, a.tab:visited {
	color:#000000;
	text-decoration:none;
}
a.tab:hover, a.tab:active, .tab-selected {
	color:#000000;
	background-color:#FFFFFE;
	text-decoration:none;
}
.tab, .tab-selected, .tframe, #tips {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C8D1DB;
	cursor:default;
	margin-right:2px;
	padding:2px;
	break-inside: avoid;
}
.tframe {
	margin:4px;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
3                        secondary bars                          *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
.sbar {
	border-bottom: 1px solid #C3D2E0;
	margin-top: 0;
	margin-bottom: 16px;
	padding: 4px;
	background: #CEDFF0;
	text-align: left;
}
.sfoot {
	border-top: 1px solid #C3D2E0;
	margin-top: 0;
	margin-bottom: 0;
	padding: 4px;
	background: #CEDFF0;
	text-align: center;
}
.navside, #comment-list-recent .blockbody {
	background:none repeat scroll 0 0 #CEDFF0;
	padding:4px;
	font-size:85%;
	border:1px solid #C3D2E0;
	margin-bottom:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.navside.navtop, .shm-image-list, #Statsmain {
	text-align:left;
}
.shm-image-list {
	margin-top: 10px;
}
.navtop, .maintop {
	font-size:110%;
	border-bottom:0 none;
	margin:0 0 2px 0; /* top right bottom left */
	padding:2px 10px;
	position:relative;
	left:0;
	width:50%;
}
.navtop {
	top:7px;
}
.maintop {
	top:0;
	margin-top:5px;
	margin-bottom:5px;
}
#tips, #blotter1, #blotter2 {
	margin-right:16px;
	margin-left:16px;
}
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
3                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
H1 A {
	color: black;
}
A, A:hover, A:active, A:visited {
	color: #2860AD;
}
H3 {
	text-align: center;
	margin: 0;
}
THEAD {
	font-weight: bold;
}
TD {
	vertical-align: top;
	text-align: left;
}
CODE {
	background: #DEDEDE;
	font-size: 0.8rem;
}

TABLE.zebra {border-spacing: 0; border: 2px solid #C3D2E0;}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD TD, TABLE.zebra THEAD TH {border-bottom: 2px solid #C3D2E0;}
TABLE.zebra TFOOT TD, TABLE.zebra TFOOT TH {border-top: 2px solid #C3D2E0;}
TABLE.zebra TR TD {border-bottom: 1px solid #C3D2E0;}
TABLE.zebra TR:nth-child(odd) {background: #CEDFF0;}
TABLE.zebra TR:nth-child(even) {background: #F0F7FF;}
TABLE.image_info {margin: auto;}

INPUT, TEXTAREA, button {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #C8D1DB;
	cursor:default;
	margin-right:2px;
	padding:2px;
}

INPUT:hover, button:hover, TEXTAREA:hover {
	background-color:#FFFFFF;
	text-decoration:none;
}

FOOTER {
	clear: both;
	padding: 8px;
	font-size: 0.7rem;
	text-align: center;
	border-top: 1px solid #C3D2E0;
	background: #E3EFFA;
}

A {text-decoration: none;}
A:hover {text-decoration: underline;}

BLOCKQUOTE {
	border: 1px solid #C3D2E0;
	padding: 8px;
	background: #E3EFFA;
}

UL {
	text-align: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	width: 200px;
	float: left;
	text-align: center;
	margin-left: 16px;
}
NAV .blockbody {
	font-size: 0.85rem;
	text-align: center;
}
NAV TABLE {
	width: 190px;
}
NAV TD {
	vertical-align: middle;
}
NAV INPUT, nav button {
	width: 95%;
	padding: 0;
}
NAV SELECT {
	width: 100%;
	padding: 0;
}

#comments P {
	text-align: left;
	width: 150px;
	max-width: 150px;
	overflow: hidden;
}
.comment {
	text-align: left;
}

TABLE.tag_list {
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
	line-height: 1em;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}

.more:after {
	content: " >>>";
}

.tag_count:before {
	content: "(";
}
.tag_count:after {
	content: ")";
}

.paginator {
	padding: 4px;
	border-right: 1px solid #C3D2E0;
	border-left: 1px solid #C3D2E0;
}
.paginator A {
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	color: #000;
	border:1px solid #C8D1DB;
	cursor:default;
	margin-right:2px;
	padding:2px;
}
.paginator A:hover {
	background-color:#FFFFFF;
	text-decoration:none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	margin-left: 226px;
	margin-right: 16px;
	text-align: center;
	height: 1%;
}
ARTICLE.body_noleft {
	margin-left: 4px;
	margin-right: 16px;
	margin-bottom:16px;
	padding-left:4px;
	padding-right:4px;
	text-align: left;
	height: 1%;
}
ARTICLE TABLE {
	width: 90%;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

/*.rr {text-align: left; background: #E3EFFA; margin: 8px;}
.rrtop     {background: url("circle-tl.png") no-repeat top left;}
.rrtop div {background: url("circle-tr.png") no-repeat top right;}
.rrbot     {background: url("circle-bl.png") no-repeat bottom left;}
.rrbot div {background: url("circle-br.png") no-repeat bottom right;}
.rrtop, .rrtop div, .rrbot, .rrbot div {height: 8px; width: 100%;}
.rrcontent {margin: 0px 8px; text-align: left;}

.hrr {text-align: left; background: #C3D2E0; margin: 8px;}
.hrrtop     {background: url("circle-tl.png") no-repeat top left;}
.hrrtop div {background: url("circle-tr.png") no-repeat top right;}
.hrrbot     {background: url("circle-bl.png") no-repeat bottom left;}
.hrrbot div {background: url("circle-br.png") no-repeat bottom right;}
.hrrtop, .hrrtop div, .hrrbot, .hrrbot div {height: 8px; width: 100%;}
.hrrcontent {margin: 0px 8px;}*/

.setupblock {
	text-align: center;
	width: 350px;
}
.setupblock TEXTAREA {
	width: 300px;
	font-size: 0.75rem;
}


NAV .thumbblock {
	float: none;
	height: auto;
}
NAV .thumb {
	margin-bottom: 0;
}
.shm-thumb {
	width: 200px;
	display: inline-block;
}
.thumb {
	display: inline-block;
	text-align: center;
	margin-bottom: 32px;
}

.tooltip{
   position:absolute;
   top:0;
   left:0;
   z-index:3;
   display:none;
}
