#handle_image_media .zoom-container {
    overflow: scroll;
    clip-path: inset(0);
}

#handle_image_media IMG  {
    max-width: 100%;
    max-height: 95vh;
}

#handle_image_media .zoom-container IMG {
    max-width: none;
    max-height: none;
}
