BODY.censored #header,
BODY.censored NAV,
BODY.censored ARTICLE,
BODY.censored FOOTER {
	filter: blur(10px);
}
.tnc_bg {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #ACE4A3;
	opacity: 0.75;
	z-index: 999999999999999999999;
}
.tnc {
	position: fixed;
	top: 20%;
	left: 20%;
	right: 20%;
	text-align: center;
	font-size: 2rem;
	background: #ACE4A3;
	border: 1px solid #7EB977;
	z-index: 9999999999999999999999;
}
@media (max-width: 1024px) {
	.tnc {
		top: 5%;
		left: 5%;
		right: 5%;
		font-size: 3vw;
	}
}
