/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tagger - Advanced Tagging v2                                              *
 * Author: Artanis (Erik Youngren <artanis.00@gmail.com>)                    *
 * Do not remove this notice.                                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#Tagger {
	text-align:left;
}

#tagger_parent {
	position:fixed;
	/*width:250px;*/

}
#tagger_parent * {
	background-color:#EEE;
}

#tagger_titlebar {
	background-color:#ddd;
	border:2px solid;
	cursor:move;
	font-weight:bold;
	-moz-border-radius:5px 5px 0 0;
	padding:.25em;
	text-align:center;
}

#tagger_toolbar, #tagger_body {
	padding:.25em;
	border-style:solid;
	border-width: 0px 2px 0px 2px;	
}
#tagger_body {
	max-height:250px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:auto;
}

#tagger_statusbar {
	background-color:#ddd;
	border:2px solid;
	font-weight: bold;
	-moz-border-radius:0 0 5px 5px;
	padding:.25em;
} #tagger_statusbar * { background-color:#ddd; }

#tagger_body div {
	padding-bottom:.125em;
	margin-bottom:.125em;
	border-top:1px solid;
}

/* Tagger Styling
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
#Tagger form {
	display:inline;
}
#Tagger input {
	width:auto;
}
#Tagger input[type=text] {
	background-color:white;
}

/* Custom Element Base Styles
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

list {
	display:inherit;
}
tag {
	font-size:1.25em;
	display:block;
}
tag:hover {
	cursor:pointer;
	font-weight: bold;
	background-color:#ddd;
}
list[id=image] tag:hover {

}
list[id=search] tag:hover {

}
