/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * Tagger - Advanced Tagging                                                 *
 * Author: Artanis (Erik Youngren <artanis.00@gmail.com>)                    *
 * Do not remove this notice.                                                *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#tagger_window {
	position:fixed;
	text-align:left;
}
 
#tagger_titlebar {
	font-weight:bold;
	text-align:center;
	position:relative;
	top:-0em;
	padding:.25em;
	border:2px solid;
	-moz-border-radius:1em;
	background-image:none;
	background-color:#DDDDDD;
	margin-bottom:.5em;
	cursor:move;
}

#tagger_body, #tagger_filter {
	overflow:scroll;
	padding:1em;
	border:2px solid;
	border-top:none;
	background-color:white;
}
#tagger_filter {
	overflow:hidden;
	-moz-border-radius:1em 1em 0 0;
	border:2px solid;
	border-bottom:none;
	margin-bottom:-1px;
	text-align:center;
	padding-bottom:1px;
}
#tagger_filter input {
	width:auto;
}

#tagger_body a {
	font-size:1.25em;
}

#Tagger li {
	margin-bottom:1em;
	width:20em;
}
