.command_example {
	margin: 12pt;
	padding-left: 16pt;
}

.command_example pre {
    padding:4pt;
    border: dashed 2px black;
}

.command_example p {
    padding-left: 16pt;
}

@media (min-width: 750px) {
    .command_example pre {
        display: table-cell;
        width: 256px;
    }

    .command_example p {
        display: table-cell;
    }
}
