
ARTICLE SELECT {width: 150px;}
INPUT, TEXTAREA {box-sizing: border-box;}

TD>INPUT[type="button"], TD>SPAN>INPUT[type="button"],
TD>INPUT[type="submit"], TD>SPAN>INPUT[type="submit"],
TD>INPUT[type="text"], TD>SPAN>INPUT[type="text"],
TD>INPUT[type="password"], TD>SPAN>INPUT[type="password"],
TD>INPUT[type="email"], TD>SPAN>INPUT[type="email"],
TD>SELECT, TD>SPAN>SELECT,
TD>TEXTAREA, TD>SPAN>TEXTAREA,
TD>BUTTON, TD>SPAN>BUTTON {width: 100%;}

TABLE.form {width: 300px;}
TABLE.form TD, TABLE.form TH {vertical-align: middle;}
TABLE.form TBODY TD {text-align: left;}
TABLE.form TBODY TH {text-align: right; padding-right: 4px; width: 1%; white-space: nowrap;}
TABLE.form TD + TH {padding-left: 8px;}

*[onclick],
H3[class~="shm-toggler"],
.sortable TH {
	cursor: pointer;
}
IMG {border: none;}
FORM {margin: 0;}
IMG.lazy {display: none;}

#flash {
	background: #FF7;
	display: block;
	padding: 8px;
	margin: 8px;
	border: 1px solid #882;
}

.tag {
	overflow-wrap: anywhere;
}