
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
:root {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}

BODY {
	margin: 0;
	background: #FFFFEE url(fade.png) top center repeat-x;
	color: #800000;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	margin-bottom: 8px;
}
BODY.layout-grid {
	display: grid;
	grid-template-columns: 200px auto;
	grid-gap: 0 16px;
}
BODY.layout-no-left NAV {
	display: none;
}
BODY.layout-no-left ARTICLE {
	margin-left: 1rem;
}

H1 {
	text-align: center;
}
#subtitle {
	display: none;
}

HEADER {
	grid-column: 1 / 3;
	grid-row: 1;
}
FOOTER {
	grid-column: 1 / 3;
	grid-row: 3;
	clear: both;
	padding-top: 8px;
	font-size: 0.7rem;
	text-align: center;
}

A, A:visited {text-decoration: none; color: #0000EE;}
A:hover {text-decoration: underline; color: #DD0000;}
HR {border: none; border-top: 1px solid #D9BFB7; height: 0; clear: both;}
CODE {background: #DEDEDE; font-size: 0.9rem;}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	grid-column: 1;
	grid-row: 2;
	width: 200px;
	text-align: center;
	margin-left: 16px;
}
NAV .blockbody {
	font-size: 0.85rem;
	text-align: center;
	overflow: hidden;
}
NAV TABLE {
	width: 100%;
}
NAV INPUT {
	width: 100%;
	padding: 0;
}
NAV SELECT {
	width: 100%;
	padding: 0;
}

NAV H3 {
	text-align: center;
}

#paginator .blockbody {
	background: none;
	border: none;
	box-shadow: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	grid-column: 2;
	grid-row: 2;
	margin-left: 0;
	margin-right: 16px;
	margin-top: 0;
	text-align: center;
	height: 1%;
}
ARTICLE TABLE {
	width: 90%;
	margin: auto;
}
ARTICLE SECTION H3 {
	margin-top: 0;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

TABLE.tag_list {
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
	line-height: 1em;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                       mobile screens                           *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

@media screen and (width <= 800px) {
	BODY.layout-grid {
		grid-template-columns: auto;
	}
	HEADER {
		grid-column: 1;
		grid-row: 1;
	}
	ARTICLE {
		grid-column: 1;
		grid-row: 2;
		margin-right: 0;
	}
	NAV {
		grid-column: 1;
		grid-row: 3;
		margin: auto;
		width: auto;
	}
	FOOTER {
		grid-column: 1;
		grid-row: 4;
	}
	#image-list .blockbody {
		margin: 0;
	}
	.shm-image-list {
		justify-content: center;
	}
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#short-wiki-description > .blockbody {
	padding-bottom: 15px;
	font-size: 1.1rem;
}
#short-wiki-description h2 {
	margin: 0 0 0.4em;
}

.doubledash {
	color: #D9BFB7;
	vertical-align: top;
	clear: both;
	float: left;
}
.comment {
	/*background: #FFFFEE;*/
	border-width: 0;
}
.reply, .paginator {
	margin-bottom: 2px;
	font-size: 10pt;
	background: #F0E0D6;
	color: #800000;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	padding: 2px;
}
.reply P {
	margin-left: 32px;
	margin-bottom: 0;
}

.setupblock {
	border: 1px solid #AAA;
	padding: 8px;
	margin: 16px;
}

.paginator {
	display: inline;
	padding: 5px;
}
.thumb {
	margin: 16px;
}
.greentext {
	color: green;
}