
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

BODY {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
	background: #FFFFEE;
	color: #800000;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 5px;
}
H1 {
	text-align: center;
}

#footer {
	clear: both;
	padding-top: 8px;
	font-size: 0.7em;
	text-align: center;
}

*[onclick] {cursor: pointer;}
IMG {border: none;}
FORM {margin: 0px;}
A, A:visited {text-decoration: none; color: #0000EE;}
A:hover {text-decoration: underline; color: #DD0000;}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.doubledash {
	color: #D9BFB7;
	vertical-align: top;
	clear: both;
	float: left;
}
.comment {
	background: #FFFFEE;
	border-width: 0px;
}
.reply {
	margin-bottom: 2px;
	font-size: 10pt;
	padding: 0px 5px;
	background: #F0E0D6;
	color: #800000;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	padding: 2px;
}
.reply P {
	margin-left: 32px;
	margin-bottom: 0px;
}

.setupblock {
	border: 1px solid #AAA;
	padding: 8px;
	margin: 16px;
	width: 350px;
}

.paginator {
	text-align: center;
}
