
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */
:root {
	font-family: arial,helvetica,sans-serif;
	font-size: 10pt;
}

BODY {
	background: #FFFFEE url(fade.png) top center repeat-x;
	color: #800000;
	padding-left: 5px;
	padding-right: 5px;
	margin-right: 0;
	margin-left: 0;
	margin-top: 5px;
}
H1 {
	text-align: center;
}
#subtitle {
	display: none;
}

FOOTER {
	clear: both;
	padding-top: 8px;
	font-size: 0.7rem;
	text-align: center;
}

A, A:visited {text-decoration: none; color: #0000EE;}
A:hover {text-decoration: underline; color: #DD0000;}
HR {border: none; border-top: 1px solid #D9BFB7; height: 0; clear: both;}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	width: 200px;
	float: left;
	text-align: center;
	margin-left: 16px;
}
NAV .blockbody {
	font-size: 0.85rem;
	text-align: center;
	overflow: hidden;
}
NAV TABLE {
	width: 100%;
}
NAV INPUT {
	width: 100%;
	padding: 0;
}
NAV SELECT {
	width: 100%;
	padding: 0;
}

NAV H3 {
	text-align: center;
}
.withleft {
	margin-left: 160px;
}

#paginator .blockbody {
	background: none;
	border: none;
	box-shadow: none;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	margin-left: 226px;
	margin-right: 16px;
	margin-top: 16px;
	text-align: center;
	height: 1%;
}
ARTICLE TABLE {
	width: 90%;
	margin: auto;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

TABLE.tag_list {
	border-collapse: collapse;
}
TABLE.tag_list>THEAD {
	display: none;
}
TABLE.tag_list>TBODY>TR>TD {
	display: inline;
	padding: 0;
	line-height: 1em;
}
TABLE.tag_list>TBODY>TR>TD:after {
	content: " ";
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#short-wiki-description > .blockbody {
	padding-bottom: 15px;
	font-size: 1.1rem;
}
#short-wiki-description h2 {
	margin: 0 0 0.4em;
}

.doubledash {
	color: #D9BFB7;
	vertical-align: top;
	clear: both;
	float: left;
}
.comment {
	/*background: #FFFFEE;*/
	border-width: 0;
}
.reply, .paginator {
	margin-bottom: 2px;
	font-size: 10pt;
	background: #F0E0D6;
	color: #800000;
	border: 1px solid #D9BFB7;
	border-left: none;
	border-top: none;
	padding: 2px;
}
.reply P {
	margin-left: 32px;
	margin-bottom: 0;
}

.setupblock {
	border: 1px solid #AAA;
	padding: 8px;
	margin: 16px;
	width: 350px;
}

.paginator {
	display: inline;
	padding: 5px;
}
.thumb {
	margin: 16px;
}
.greentext {
	color: green;
}