/* overall page */
div#front-page {
    margin-top: 4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 640px;
    justify-content: center;
    min-height: 100vh;
    margin: auto;
}
@media (max-width: 800px) {
    div#front-page {margin-top: 1em; width: 480px;}
}

/* title */
div#front-page h1 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
    text-align: center;
    border: none; background: none; box-shadow: none;
}
div#front-page h1 A {text-decoration: none;}
@media (max-width: 800px) {
    div#front-page h1 {font-size: 3rem;}
}

/* links */
div#front-page div#links a {display: inline-block; margin: 0 0.5em;}

/* search */
div#front-page > #search > form {margin: 0 auto; display: flex; width: 100%;}
div#front-page > #search > form > input[type=search]{flex: 1;}
div#front-page > #search > form > input[type=submit]{flex: 0; padding: 0 1em;}

/* counter */
#counter {display: grid; justify-content: center;}
.counter-img {grid-row: 1; max-width: 100%; height: auto;}
