
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

BODY {
	background: #EEE;
	font-family: "Arial", sans-serif;
	font-size: 14px;
}
H1, H3 {
	border: 1px solid black;
	background: #DDD;
	text-align: center;
}
H1 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 2px;
}
H1 A {
	color: black;
}
H3 {
	margin-top: 32px;
	padding: 1px;
}
THEAD {
	background: #DEDEDE;
	font-weight: bold;
}
TD {
	vertical-align: top;
	text-align: center;
}
CODE {
	background: #DEDEDE;
	font-size: 0.8em;
}
#subtitle {
	width: 256px;
	font-size: 0.75em;
	margin: auto;
	text-align: center;
	border: 1px solid black;
	border-top: none;
	background: #DDD;
}
#body SELECT {width: 150px;}
TD>INPUT[type="submit"] {width: 100%;}
TD>INPUT[type="text"] {width: 100%;}
TD>INPUT[type="password"] {width: 100%;}
TD>SELECT {width: 100%;}

TABLE.zebra {border-spacing: 0px;}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD {border-bottom: 2px solid #DDD;}
TABLE.zebra TR {border-bottom: 1px solid #DDD;}
TABLE.zebra TR.odd {background: #EFEFEF;}
TABLE.zebra TR.even {background: #E0E0E0;}

#footer {
	clear: both;
	padding-top: 8px;
	font-size: 0.7em;
	text-align: center;
}

*[onclick] {cursor: pointer;}
IMG {border: none;}
FORM {margin: 0px;}
A {text-decoration: none;}
A:hover {text-decoration: underline;}

BLOCKQUOTE {
	border: 1px solid black;
	padding: 8px;
	background: #DDD;
}

UL {
	text-align: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#nav {
	width: 150px;
	float: left;
	text-align: center;
	font-size: 0.9em;
}
#nav TABLE {
	width: 150px;
}
#nav TD {
	vertical-align: middle;
}
#nav INPUT {
	width: 100%;
	padding: 0px;
}
#nav SELECT {
	width: 100%;
	padding: 0px;
}

#comments P {
	text-align: left;
	width: 150px;
	max-width: 150px;
	overflow: hidden;
}

.more:after {
	content: " >>>";
}

.tag_count:before {
	content: "(";
}
.tag_count:after {
	content: ")";
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#body {
	margin-left: 160px;
	text-align: center;
	height: 1%;
}
#body TABLE {
	width: 90%;
	margin: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

#tagmap A {
	padding: 8px 4px 8px 4px;
}

.comment {
	text-align: left;
}

.setupblock {
	border: 1px solid #AAA;
	padding: 8px;
	margin: 16px;
	width: 350px;
}

.helpable {
	border-bottom: 1px dashed gray;
}

.ok {
	background: #AFA;
}
.bad {
	background: #FAA;
}


