
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

BODY {
	background: #EEE;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
}
H1 {
	background: #BBB;
	text-align: center;
	border: 1px solid #AAA;
}
H1 A {
	color: black;
}
H3 {
	text-align: center;
	margin: 0px;
}
.hrr {
	background: #CCC;
	border: 1px solid #BBB;
}
.brr, .thumb {
	background: #DDD;
	border: 1px solid #CCC;
}
.brr, .hrr, H1, #footer, .thumb {
	margin: 8px;
	padding: 8px;
	border-radius: 12px; /* standard, webkit, opera */
	-moz-border-radius: 12px; /* mozilla haven't committed yet */
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* standard, opera */
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* webkit haven't committed yet */
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* mozilla haven't committed yet */
}
THEAD {
	font-weight: bold;
}
TD {
	vertical-align: top;
	text-align: center;
}
CODE {
	background: #DEDEDE;
	font-size: 0.8em;
}
#body SELECT {width: 150px;}
TD>INPUT, TEXTAREA {box-sizing: border-box;}
TD>INPUT[type="button"] {width: 100%;}
TD>INPUT[type="submit"] {width: 100%;}
TD>INPUT[type="text"] {width: 100%;}
TD>INPUT[type="password"] {width: 100%;}
TD>TEXTAREA {width: 100%;}
TD>SELECT {width: 100%;}
[onclick] {cursor:pointer;}

TABLE.zebra {border-spacing: 0px; border: 2px solid #CCC;}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD TD, TABLE.zebra THEAD TH {border-bottom: 2px solid #CCC;}
TABLE.zebra TFOOT TD, TABLE.zebra TFOOT TH {border-top: 2px solid #CCC;}
TABLE.zebra TR TD {border-bottom: 1px solid #DDD;}
TABLE.zebra TR.odd {background: #EFEFEF;}
TABLE.zebra TR.even {background: #E0E0E0;}

#footer {
	clear: both;
	font-size: 0.7em;
	text-align: center;
	background: #BBB;
	border: 1px solid #AAA;
}

*[onclick] {cursor: pointer;}
IMG {border: none;}
FORM {margin: 0px;}
A {text-decoration: none;}
A:hover {text-decoration: underline;}

BLOCKQUOTE {
	border: 1px solid black;
	padding: 8px;
	background: #DDD;
}

UL {
	text-align: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#nav {
	width: 200px;
	float: left;
	text-align: center;
	margin-left: 16px;
}
#nav .blockbody {
	font-size: 0.85em;
	text-align: center;
	overflow: hidden;
}
#nav TABLE {
	width: 150px;
}
#nav TD {
	vertical-align: middle;
}
#nav INPUT {
	width: 100%;
	padding: 0px;
}
#nav SELECT {
	width: 100%;
	padding: 0px;
}

#comments P {
	text-align: left;
	width: 150px;
	max-width: 150px;
	overflow: hidden;
}
.comment {
	text-align: left;
	position: relative;
}
.comment .info {
	visibility: hidden;
	text-align: center;
	padding: 8px;
	background: #DDD;
	border: 1px solid #CCC;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 1;
	box-shadow: 0px 0px 4px #000;
	border-radius: 4px;
}
.comment:hover .info {
	visibility: visible;
}

.more:after {
	content: " >>>";
}

.tag_count:before {
	content: "(";
}
.tag_count:after {
	content: ")";
}

.paginator {
	clear: both;
	padding: 4px;
	margin-bottom: 32px;
}

.pools_next_img {
    display: block;
    font-size: 77%;
    text-align: right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#body {
	margin-left: 226px;
	margin-right: 16px;
	text-align: center;
	height: 1%;
}
#body TABLE {
	width: 90%;
	margin: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

#tagmap A {
	padding: 8px 4px 8px 4px;
}

.setupblocks {
	column-width: 400px;
	-moz-column-width: 400px;
	-webkit-column-width: 400px;
	max-width: 1200px;
	margin: auto;
}
.setupblocks .rr {
	column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	-webkit-column-break-inside: avoid;
}
.setupblock {
	text-align: center;
	width: 100%;
}
.setupblock TEXTAREA {
	width: 100%;
	font-size: 0.75em;
	resize: vertical;
}

.helpable {
	border-bottom: 1px dashed gray;
}

.ok {
	background: #AFA;
}
.bad {
	background: #FAA;
}

#nav .thumbblock {
	float: none;
	height: auto;
}
#nav .thumb {
	margin-bottom: 0px;
}
.thumbblock {
	width: 220px;
	height: 220px;
	display: inline-block;
	text-align: center;
	float: left;
}
.thumb {
	display: inline-block;
	margin-bottom: 32px;
}

#downtime #message, #downtime #login {
	text-align: center;
}
#downtime H3 {
	margin-top: 32px;
}
#downtime #login_table {
	margin: auto;
}

.image_info TD {
	text-align: left;
}
.image_info TD:first-child {
	text-align: right;
	padding-right: 4px;
}
.image_info .edit {
	display: none;
}
