
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                  things common to all pages                    *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

BODY {
	background: #EEE;
	font-family: sans-serif;
	font-size: 14px;
	margin: 0px;
}
H1 {
	background: #BBB;
	text-align: center;
	border: 1px solid #AAA;
}
H1 A {
	color: black;
}
H3 {
	text-align: center;
	margin: 0px;
}
SECTION>H3 {
	background: #CCC;
	border: 1px solid #BBB;
}
SECTION>.blockbody, .thumb {
	background: #DDD;
	border: 1px solid #CCC;
}
SECTION>.blockbody, SECTION>H3, H1, FOOTER, .thumb {
	margin: 8px;
	padding: 8px;
	border-radius: 12px; /* standard, webkit, opera */
	-moz-border-radius: 12px; /* mozilla haven't committed yet */
	box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* standard, opera */
	-webkit-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* webkit haven't committed yet */
	-moz-box-shadow: 2px 2px 6px rgba(0,0,0,0.6); /* mozilla haven't committed yet */
}
THEAD {
	font-weight: bold;
}
TD {
	vertical-align: top;
	text-align: center;
}
ARTICLE SELECT {width: 150px;}
INPUT, TEXTAREA {box-sizing: border-box;}
TD>INPUT[type="button"] {width: 100%;}
TD>INPUT[type="submit"] {width: 100%;}
TD>INPUT[type="text"] {width: 100%;}
TD>INPUT[type="password"] {width: 100%;}
TD>TEXTAREA {width: 100%;}
TD>SELECT {width: 100%;}
[onclick] {cursor:pointer;}

TABLE.zebra {border-spacing: 0px; border: 2px solid #CCC;}
TABLE.zebra TD, TABLE.zebra TH {vertical-align: middle; padding: 4px;}
TABLE.zebra THEAD TD, TABLE.zebra THEAD TH {border-bottom: 2px solid #CCC;}
TABLE.zebra TFOOT TD, TABLE.zebra TFOOT TH {border-top: 2px solid #CCC;}
TABLE.zebra TR TD {border-bottom: 1px solid #DDD;}
TABLE.zebra TR:nth-child(odd) {background: #EFEFEF;}
TABLE.zebra TR:nth-child(even) {background: #E0E0E0;}

TABLE.form TD, TABLE.form TH {vertical-align: middle;}
TABLE.form TBODY TD {text-align: left;}
TABLE.form TBODY TH {text-align: right; padding-right: 4px;}

FOOTER {
	clear: both;
	font-size: 0.7em;
	text-align: center;
	background: #BBB;
	border: 1px solid #AAA;
}

*[onclick] {cursor: pointer;}
IMG {border: none;}
FORM {margin: 0px;}
A {text-decoration: none;}
A:hover {text-decoration: underline;}

UL {
	text-align: left;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*             the navigation bar, and all its blocks             *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

NAV {
	width: 200px;
	float: left;
	text-align: center;
	margin-left: 16px;
}
NAV .blockbody {
	font-size: 0.85em;
	text-align: center;
	overflow: hidden;
}
NAV TABLE {
	width: 100%;
}
NAV INPUT {
	width: 100%;
	padding: 0px;
}
NAV SELECT {
	width: 100%;
	padding: 0px;
}

.more:after {
	content: " >>>";
}

.tag_count:before {
	content: "(";
}
.tag_count:after {
	content: ")";
}

.paginator {
	clear: both;
	padding: 4px;
	margin-bottom: 32px;
}

.pools_next_img {
    display: block;
    font-size: 77%;
    text-align: right;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                 the main part of each page                     *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

ARTICLE {
	margin-left: 226px;
	margin-right: 16px;
	margin-top: 16px;
	text-align: center;
	height: 1%;
}
ARTICLE TABLE {
	width: 90%;
	margin: auto;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
*                     specific page types                        *
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

#pagelist {
	margin-top: 32px;
}

#tagmap A {
	padding: 8px 4px 8px 4px;
}

NAV .thumbblock {
	float: none;
	height: auto;
}
NAV .thumb {
	margin-bottom: 0px;
}
.thumbblock {
	width: 220px;
	height: 220px;
	display: inline-block;
	text-align: center;
	float: left;
}
.thumb {
	display: inline-block;
	margin-bottom: 32px;
}
